appnope==0.1.0
decorator==4.0.11
ipykernel==4.6.1
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
jupyter-client==5.0.1
jupyter-console==5.1.0
jupyter-core==4.3.0
numpy==1.12.1
pandas==0.20.1
petl==1.1.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
ptyprocess==0.5.1
Pygments==2.2.0
PyMySQL==0.7.11
python-dateutil==2.6.0
pytz==2017.2
pyzmq==16.0.2
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==1.1.9
tornado==4.5.1
traitlets==4.3.2
wcwidth==0.1.7
